{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="fa fa-money"></span>
            Betaling toevoegen
        </h1>
    </div>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
<hr>
    {{ form_start(delete_form) }}
    <input class="btn-danger btn" type="submit" value="Verwijderen">
    {{ form_end(delete_form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            // configure the bootstrap datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}
