{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transacties list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Betaald</th>
                <th>Betaaldop</th>
                <th>Opmerking</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transactie in transacties %}
            <tr>
                <td><a href="{{ path('admin_transactie_show', { 'id': transactie.id }) }}">{{ transactie.id }}</a></td>
                <td>{% if transactie.betaald %}Yes{% else %}No{% endif %}</td>
                <td>{% if transactie.betaaldOp %}{{ transactie.betaaldOp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ transactie.opmerking }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_transactie_show', { 'id': transactie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_transactie_edit', { 'id': transactie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_transactie_new') }}">Create a new transactie</a>
        </li>
    </ul>
{% endblock %}
