{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="fa fa-money"></span>
            Betaling toevoegen
        </h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        // configure the bootstrap datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
{% endblock %}
