{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transactie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transactie.id }}</td>
            </tr>
            <tr>
                <th>Betaald</th>
                <td>{% if transactie.betaald %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Betaaldop</th>
                <td>{% if transactie.betaaldOp %}{{ transactie.betaaldOp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Opmerking</th>
                <td>{{ transactie.opmerking }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_transactie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_transactie_edit', { 'id': transactie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
