{% extends '::base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>
        <span class="glyphicon glyphicon-user"></span>
        Contact
    </h1>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
{% endblock %}