<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mijn SCN Portaal</title>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- Hotjar Tracking Code for mijnsubclub.liveartz.nl -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:697891,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    {% stylesheets '@bootstrap_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% image '@MijnsubclubBundle/Resources/public/images/stars.png'
    output='/images/stars.png' %}
    <style>
        body {
            background: url('{{ asset_url }}') no-repeat fixed top right;
        }
    </style>
    {% endimage %}

</head>
<body>
<nav class="navbar navbar-subaru navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("homepage") }}">
                {% image '@MijnsubclubBundle/Resources/public/images/scn-logo-GOLD.png'
                output='/images/scn-logo-GOLD.png' %}
                <img alt="SCN" src="{{ asset_url }}" height="25px">
                {% endimage %}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('homepage') }}">Dashboard</a></li>
                <li><a href="{{ path('scn') }}">SCN</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li class="active"><a href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Exit impersonation</a></li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path("leden_lijst") }}">Leden Overzicht</a></li>
                            <li><a href="{{ path("groepen_lijst") }}">Groepen overzicht</a></li>
                            <li><a href="{{ path("admin_lidmaatschapsjaar_index") }}">Lidmaatschapsjaren overzicht</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Profiel <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path("fos_user_profile_show") }}">Profiel</a></li>
                            <li><a href="{{ path("fos_user_change_password") }}">Wijzig wachtwoord</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path("fos_user_security_logout") }}">Uitloggen</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path("fos_user_security_login") }}">Inloggen</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted pull-right">Mijn SubaruClub <a href="{{ path('app_changelog') }}">{{ app_version }}</a></p>
    </div>
</footer>


{% javascripts '@jquery' '@bootstrap_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}{% endblock %}

</body>
</html>
