{% extends 'base.html.twig' %}

    {% block body %}
        {% if app.user %}
            <h1>Subaru Club Nederland Portaal</h1>
            <div class="page-header">
                <h1>
                    <span class="fa fa-dashboard"></span>
                    Dashboard
                </h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-plus-sign"></span> <a
                                href="{{ path('voertuig_nieuw') }}">Voertuig toevoegen</a>
                    </div>
                </div>
            </div>

            {% if app.user.voertuigen is not empty %}
                {% for row in app.user.voertuigen|batch(2) %}
                    <div class="row">
                        {% for voertuig in row %}
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ voertuig.naam }} - {{ voertuig.kenteken }}
                                            <div class="pull-right">
                                                <a href="{{ path('verbruik_new', {'voertuig_id': voertuig.id}) }}"><span
                                                            class="glyphicon glyphicon-road"></span></a>
                                                &nbsp;
                                                <a href="{{ path('voertuig_wijzigen', {'id': voertuig.id}) }}"><span
                                                            class="glyphicon glyphicon-pencil"></span></a>
                                            </div>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <a href="{{ path('voertuig_detail', {'id': voertuig.id}) }}">{{ voertuig.merk }} {{ voertuig.model }}
                                            </a>
                                        </p>

                                        {% if voertuig.verbruiken is not empty %}
                                            <table class="table table-striped table-condensed">
                                                <thead>
                                                <tr>
                                                    <th>Km stand</th>
                                                    <th>liters</th>
                                                    <th>prijs</th>
                                                    <th>getanked op</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for verbruik in voertuig.verbruiken %}
                                                    {% if verbruik.deletedAt is empty %}
                                                        <tr>
                                                            <td>{{ verbruik.tellerstand }}</td>
                                                            <td>{{ verbruik.liter }}</td>
                                                            <td>{{ verbruik.totaalbedrag }}</td>
                                                            {% if verbruik.getankedOp %}
                                                                <td>{{ verbruik.getankedOp|date("d-m-Y") }}</td>
                                                            {% else %}
                                                                <td>{{ verbruik.createdAt|date("d-m-Y") }}</td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        {% else %}
                                            <p>U heeft nog geen verbruiksstanden doorgegeven.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <p>U heeft nog geen voertuig toegevoegd aan uw account.</p>
            {% endif %}


        {% else %}
            <h1>Subaru Club Nederland Portaal</h1>
            <p class="lead">Hier kun je alles vinden over de activiteiten van SCN. De evenementen kalender met de
                laatste
                activiteiten, informatie van de verschillende regio’s en natuurlijk verslagen van de activiteiten. Ook
                zijn
                er foto’s en nieuws feiten over Subaru Nederland en Subaru in de autosport.

                Subaru Club Nederland is een vereniging voor en door Subaru enthousiastelingen. Door verschillende
                evenementen hebben de leden regelmatig contact met elkaar. Daarnaast is er een periodiek clubblad om de
                leden van het laatste Subarunieuws te voorzien.</p>
        {% endif %}
    {% endblock %}
