{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-th-list"></span>
            Groep {{ groep }}
        </h1>
    </div>

    <div class="row">
        <div class="col-md-4"><strong>Groepnaam</strong></div>
        <div class="col-md-8">{{ groep }}</div>
    </div>
    <div class="row">
        <div class="col-md-4"><strong>Rollen</strong></div>
        <div class="col-md-8">
            {% for role in groep.roles %}
                {{ role }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

