{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-th-list"></span>
            Groep {{ groep }} aanpassen
        </h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <label class="col-sm-2"></label>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-default" value="{{ 'group.edit.submit'|trans }}" />
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

