{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-th-list"></span>
            Groepen overzicht
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right"><span class="glyphicon glyphicon-plus-sign"></span> <a
                        href="{{ path('groep_nieuw') }}">Nieuwe
                    groep toevoegen</a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>Rollen</th>
                    <th><span class="glyphicon glyphicon-edit"></span></th>
                    <th><span class="glyphicon glyphicon-remove"></span></th>
                </tr>
                </thead>
                <tbody>
                {% for groep in groepen %}
                    <tr>
                        <th scope="row">{{ groep.id }}</th>
                        <td>{{ groep.name }}</td>
                        <td>
                            {% for role in groep.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                        <td><a href="{{ path("groep_aanpassen", { 'id': groep.id }) }}"><span
                                        class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href="{{ path("groep_verwijder", { 'naam': groep.name }) }}"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
