{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-user"></span>
            {{ user }}
            <small>(Lidnr: {{ user.lidnummer }})</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Gebruikersnaam: {{ user.username }}</p>
            <p>E-mail adres: {{ user.email }}</p>
            <p>Forumnaam: <a
                        href="https://www.subaruclub.nl/forum/memberlist.php?mode=viewprofile&un={{ user.forumnaam }}"
                        target="_blank">{{ user.forumnaam }}</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>Straat: {{ user.straatennummer }}</p>
            <p>Postcode: {{ user.postcode }}</p>
            <p>Plaats: {{ user.plaats }}</p>
            <p>Land: {{ user.land }}</p>
        </div>
    </div>

    <div class="page-header">
        <h1>
            <span class="fa fa-dollar"></span>
            Lidmaatschap
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <span class="glyphicon glyphicon-plus-sign"></span> <a
                        href="{{ path('admin_transactie_new', {'user_id': user.id}) }}">Lidmaatschapsjaar toevoegen</a>
            </div>
        </div>
    </div>
    {% if user.transacties is not empty %}
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>lidmaatschapsjaar</th>
                <th>betaald</th>
                <th>betaald op</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for transactie in user.transacties %}
                {% if not transactie.deletedAt %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ transactie.lidmaatschapsjaar }}</td>
                        <td>{{ transactie.betaald ? 'Ja':'Nee' }}</td>
                        <td>{{ transactie.betaaldOp | date('d-m-Y') }}</td>
                        <td><a href="{{ path('admin_transactie_edit', {'id': transactie.id}) }}"><span
                                        class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>Nog geen lidmaatschapsjaar geregistreerd.</p>
    {% endif %}


    <div class="page-header">
        <h1>
            <span class="fa fa-car"></span>
            Voertuig(en)
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <span class="glyphicon glyphicon-plus-sign"></span> <a
                        href="{{ path('voertuig_nieuw') }}">Voertuig toevoegen</a>
            </div>
        </div>
    </div>
    {% for row in user.voertuigen|batch(2) %}
        <div class="row">
            {% for voertuig in row %}
                {% if not voertuig.deletedAt %}
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ voertuig.naam }}
                                <div class="pull-right">
                                    <a href="{{ path('verbruik_new', {'voertuig_id': voertuig.id}) }}"><span
                                                class="glyphicon glyphicon-road"></span></a>
                                    &nbsp;
                                    <a href="{{ path('voertuig_wijzigen', {'id': voertuig.id}) }}"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="{{ path('voertuig_detail', {'id': voertuig.id}) }}">{{ voertuig.merk }} {{ voertuig.model }}
                                </a>
                            </p>

                            {% if voertuig.verbruiken is not empty %}
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Km stand</th>
                                        <th>liters</th>
                                        <th>prijs</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for verbruik in voertuig.verbruiken %}
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>{{ verbruik.tellerstand }}</td>
                                            <td>{{ verbruik.liter }}</td>
                                            <td>{{ verbruik.totaalbedrag }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            {% else %}
                                <p>U heeft nog geen verbruiksstanden doorgegeven.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

{% endblock body %}
