{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-user"></span>
            Lid {{ user }} aanpassen
        </h1>
    </div>

    {% if user.confirmationToken and user.enabled == false %}
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div class="alert alert-danger" role="alert">Gebruiker is niet geactiveert <span
                            class="pull-right glyphicon glyphicon-exclamation-sign"></span></div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div class="alert alert-info" role="alert"><a id="UserResetPassword" href="#">Verstuur wachtwoord
                    opnieuw <span class="pull-right glyphicon glyphicon-send"></span></a></div>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <label class="col-sm-2"></label>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-default" value="Opslaan"/>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#UserResetPassword').click(function () {
                bootbox.confirm({
                    title: 'Wachtwoord herstellen',
                    message: 'Wilt u een e-mail naar de gebruiker sturen met instructies om het wachtwoord te herstellen?',
                    callback: function (result) {
                        if (result === false) {
                            return;
                        }

                        $.ajax({
                            url: '{{ path('fos_user_resetting_send_email') }}',
                            type: 'POST',
                            dataType: 'html',
                            data: {
                                username: '{{ user.username }}'
                            },
                            success: function (result) {
                                bootbox.dialog({
                                    title: "E-mail verzonden",
                                    message: "Er is een e-mail verstuurd met de instructies om het wachtwoord te herstellen.",
                                    buttons: {
                                        "Sluiten": {
                                            className: "btn-default"
                                        }
                                    }
                                });
                            },
                            error: function (xhr) {
                                console.log(xhr);
                                bootbox.dialog({
                                    title: "Er ging iets mis",
                                    message: "Er is een fout opgetreden tijdens het versturen van de e-mail.",
                                    buttons: {
                                        "Sluiten": {
                                            className: "btn-default"
                                        }
                                    }
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
