{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-user"></span>
            Leden overzicht
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right"><span class="glyphicon glyphicon-plus-sign"></span> <a
                        href="{{ path('lid_nieuw') }}">Nieuw
                    lid toevoegen</a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>E-mail</th>
                    <th>Forumnaam</th>
                    <th><span class="glyphicon glyphicon-edit"></span></th>
                    <th><span class="glyphicon glyphicon-remove"></span></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% if not user.deletedAt %}
                        <tr>
                            <th scope="row"><a href="{{ path('lid_detail', {'id': user.id}) }}">{{ user.id }}</a></th>
                            <td>
                                {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                                    <a href="{{ path('homepage', {'_switch_user': user.username}) }}">{{ user }}</a>
                                {% else %}
                                    {{ user }}
                                {% endif %}
                            </td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.forumnaam }}</td>
                            <td><a href="{{ path("lid_aanpassen", { 'id': user.id }) }}"><span
                                            class="glyphicon glyphicon-edit"></span></a></td>
                            <td><a href="{{ path("lid_verwijder", { 'username': user.username }) }}"><span
                                            class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
