{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-user"></span>
            Wachtwoord wijzigen
        </h1>
    </div>
    {% block fos_user_content %}
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock body %}
