<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mijn SCN Portaal</title>
    {% stylesheets '@bootstrap_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">



        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
            {% image '@MijnsubclubBundle/Resources/public/images/scn-logo-GOLD.png'
            output='/images/scn-logo-GOLD.png' %}
            <img alt="SCN" src="{{ asset_url }}" height="100px">
            {% endimage %}

            <h2 class="form-signin-heading">Inloggen</h2>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <label for="username" class="sr-only">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                   required="required" autofocus/>
            <br>

            <label for="password" class="sr-only">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input class="form-control" type="password" id="password" name="_password" required="required"/>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                </label>
            </div>

            <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit"
                   value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
        </form>
    </div>

{% endblock fos_user_content %}

{% javascripts '@jquery' '@bootstrap_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
