{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-lock"></span>
            Wachtwoord resetten
        </h1>
    </div>
    {% block fos_user_content %}
        {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock body %}
