{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="fa fa-calendar-o"></span>
            Lidmaatschapsjaren overzicht
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right"><span class="glyphicon glyphicon-plus-sign"></span> <a href="{{ path('admin_lidmaatschapsjaar_new') }}">Nieuw
                    lidmaatschapsjaar toevoegen</a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Jaar</th>
                    <th>Contributie</th>
                    <th>Inschrijfgeld</th>
                    <th><span class="glyphicon glyphicon-edit"></span></th>
                    <th><span class="glyphicon glyphicon-remove"></span></th>
                </tr>
                </thead>
                <tbody>
                {% for lidmaatschapsjaar in lidmaatschapsjaren %}
                    <tr>
                        <th scope="row">{{ lidmaatschapsjaar.id }}</th>
                        <td>{{ lidmaatschapsjaar.jaar|date("d-m-Y") }}</td>
                        <td>{{ lidmaatschapsjaar.contributie }}</td>
                        <td>{{ lidmaatschapsjaar.inschrijfgeld }}</td>
                        <td><a href="{{ path("admin_lidmaatschapsjaar_edit", { 'id': lidmaatschapsjaar.id }) }}"><span
                                        class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href="{{ path("admin_lidmaatschapsjaar_delete", { 'id': lidmaatschapsjaar.id }) }}"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
