{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lidmaatschapsjaar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lidmaatschapsjaar.id }}</td>
            </tr>
            <tr>
                <th>Jaar</th>
                <td>{% if lidmaatschapsjaar.jaar %}{{ lidmaatschapsjaar.jaar|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Contributie</th>
                <td>{{ lidmaatschapsjaar.contributie }}</td>
            </tr>
            <tr>
                <th>Inschrijfgeld</th>
                <td>{{ lidmaatschapsjaar.inschrijfgeld }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_lidmaatschapsjaar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_lidmaatschapsjaar_edit', { 'id': lidmaatschapsjaar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
