{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="fa fa-car"></span>
            Voertuig {{ voertuig.kenteken }}
            {% for kenteken in rdw_response %}
                <span class="pull-right"><small>Vervaldatum APK: {{ kenteken.vervaldatumApk }}</small></span>
            {% endfor %}
        </h1>
    </div>

    {% for kenteken in rdw_response %}
        <div class="row">
            <div class="col-md-4"><strong>aantal_cilinders:</strong></div>
            <div class="col-md-8">{{ kenteken.aantalCilinders }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>aantal_deuren:</strong></div>
            <div class="col-md-8">{{ kenteken.aantalDeuren }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>aantal_wielen:</strong></div>
            <div class="col-md-8">{{ kenteken.aantalWielen }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>aantal_zitplaatsen:</strong></div>
            <div class="col-md-8">{{ kenteken.aantalZitplaatsen }}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><strong>afstand_hart_koppeling_tot_achterzijde_voertuig:</strong></div>
            <div class="col-md-8">{{ kenteken.afstandHartKoppelingTotAchterzijdeVoertuig }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>afstand_voorzijde_voertuig_tot_hart_koppeling:</strong></div>
            <div class="col-md-8">{{ kenteken.afstandVoorzijdeVoertuigTotHartKoppeling }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>breedte:</strong></div>
            <div class="col-md-8">{{ kenteken.breedte }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>bruto_bpm:</strong></div>
            <div class="col-md-8">{{ kenteken.brutoBpm }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>cilinderinhoud:</strong></div>
            <div class="col-md-8">{{ kenteken.cilinderinhoud }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>datum_eerste_afgifte_nederland:</strong></div>
            <div class="col-md-8">{{ kenteken.datumEersteAfgifteNederland }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>datum_eerste_toelating:</strong></div>
            <div class="col-md-8">{{ kenteken.datumEersteToelating }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>datum_tenaamstelling:</strong></div>
            <div class="col-md-8">{{ kenteken.datumTenaamstelling }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>eerste_kleur:</strong></div>
            <div class="col-md-8">{{ kenteken.eersteKleur }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>europese_voertuigcategorie:</strong></div>
            <div class="col-md-8">{{ kenteken.europeseVoertuigcategorie }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>export_indicator:</strong></div>
            <div class="col-md-8">{{ kenteken.exportIndicator }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>handelsbenaming:</strong></div>
            <div class="col-md-8">{{ kenteken.handelsbenaming }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>inrichting:</strong></div>
            <div class="col-md-8">{{ kenteken.inrichting }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>kenteken:</strong></div>
            <div class="col-md-8">{{ kenteken.kenteken }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>lengte:</strong></div>
            <div class="col-md-8">{{ kenteken.lengte }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>massa_ledig_voertuig:</strong></div>
            <div class="col-md-8">{{ kenteken.massaLedigVoertuig }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>massa_rijklaar:</strong></div>
            <div class="col-md-8">{{ kenteken.massaRijklaar }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>maximum_massa_trekken_ongeremd:</strong></div>
            <div class="col-md-8">{{ kenteken.maximumMassaTrekkenOngeremd }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>maximum_trekken_massa_geremd:</strong></div>
            <div class="col-md-8">{{ kenteken.maximumTrekkenMassaGeremd }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>merk:</strong></div>
            <div class="col-md-8">{{ kenteken.merk }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>openstaande_terugroepactie_indicator:</strong></div>
            <div class="col-md-8">{{ kenteken.openstaandeTerugroepactieIndicator }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>plaats_chassisnummer:</strong></div>
            <div class="col-md-8">{{ kenteken.plaatsChassisnummer }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>technische_max_massa_voertuig:</strong></div>
            <div class="col-md-8">{{ kenteken.technischeMaxMassaVoertuig }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>toegestane_maximum_massa_voertuig:</strong></div>
            <div class="col-md-8">{{ kenteken.toegestaneMaximumMassaVoertuig }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>tweede_kleur:</strong></div>
            <div class="col-md-8">{{ kenteken.tweedeKleur }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>typegoedkeuringsnummer:</strong></div>
            <div class="col-md-8">{{ kenteken.typegoedkeuringsnummer }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>uitvoering:</strong></div>
            <div class="col-md-8">{{ kenteken.uitvoering }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>variant:</strong></div>
            <div class="col-md-8">{{ kenteken.variant }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>vermogen_massarijklaar:</strong></div>
            <div class="col-md-8">{{ kenteken.vermogenMassarijklaar }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>vervaldatum_apk:</strong></div>
            <div class="col-md-8">{{ kenteken.vervaldatumApk }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>voertuigsoort:</strong></div>
            <div class="col-md-8">{{ kenteken.voertuigsoort }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>volgnummer_wijziging_eu_typegoedkeuring:</strong></div>
            <div class="col-md-8">{{ kenteken.volgnummerWijzigingEuTypegoedkeuring }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>wacht_op_keuren:</strong></div>
            <div class="col-md-8">{{ kenteken.wachtOpKeuren }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>wam_verzekerd:</strong></div>
            <div class="col-md-8">{{ kenteken.wamVerzekerd }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>wielbasis:</strong></div>
            <div class="col-md-8">{{ kenteken.wielbasis }}</div>
        </div>

        <div class="row">
            <div class="col-md-4"><strong>zuinigheidslabel:</strong></div>
            <div class="col-md-8">{{ kenteken.zuinigheidslabel }}</div>
        </div>
    {% endfor %}
{% endblock %}

