{% extends '::base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>
        <span class="glyphicon glyphicon-user"></span>
        Subaru overzicht
    </h1>
</div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Bouwjaar</th>
                    <th><span class="glyphicon glyphicon-edit"></span></th>
                    <th><span class="glyphicon glyphicon-remove"></span></th>
                </tr>
                </thead>
                <tbody>
                {% for subaru in subarus %}
                    <tr>
                        <th scope="row">{{ subaru.id }}</th>
                        <td>{{ subaru.model }}</td>
                        <td>{{ subaru.type }}</td>
                        <td>{{ subaru.bouwjaar }}</td>
                        <td><a href="{{ path("voertuig_aanpassen", { 'id': subaru.id }) }}"><span
                                        class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href="{{ path("voertuig_verwijder", { 'id': subaru.id }) }}"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
