{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="fa fa-car"></span>
            Nieuw voertuig toevoegen
        </h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}


{% block javascripts %}
<script>
    $('input#mijnsubclubbundle_voertuig_kenteken').on('keyup',function(){
        var charCount = $(this).val().replace(/\s/g, '').replace(/-/g,"").length;
        var kenteken = $(this).val().replace(/\s/g, '').replace(/-/g,"");

        if (charCount === 6 ){
            var url = Routing.generate('rdw_call', { _format: 'json', kenteken: kenteken});
            $.ajax({
                method: "GET",
                url: url
            }).success(function( result ) {
                $.each(result, function(key,auto) {
                    $('#mijnsubclubbundle_voertuig_merk').val(auto.merk);
                    $('#mijnsubclubbundle_voertuig_model').val(auto.handelsbenaming);
                    $('#mijnsubclubbundle_voertuig_type').val(auto.variant);
                });


            });
        }

        $(".result").text(charCount + " chars");
    });

</script>
{% endblock %}