html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 50px;
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-subaru {
    background-color: #1f4afa;
    border-color: #0736f8;
}
.navbar-subaru .navbar-brand {
    color: #ecf0f1;
}
.navbar-subaru .navbar-brand:hover,
.navbar-subaru .navbar-brand:focus {
    color: #c0ccfa;
}
.navbar-subaru .navbar-text {
    color: #ecf0f1;
}
.navbar-subaru .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-subaru .navbar-nav > li > a:hover,
.navbar-subaru .navbar-nav > li > a:focus {
    background-color: #0736f8;
    color: #c0ccfa;
}
.navbar-subaru .navbar-nav > .active > a,
.navbar-subaru .navbar-nav > .active > a:hover,
.navbar-subaru .navbar-nav > .active > a:focus {
    background-color: #0736f8;
    color: #c0ccfa;
}
.navbar-subaru .navbar-nav > .open > a,
.navbar-subaru .navbar-nav > .open > a:hover,
.navbar-subaru .navbar-nav > .open > a:focus {
    background-color: #0736f8;
    color: #c0ccfa;
}
.navbar-subaru .navbar-toggle {
    border-color: #0736f8;
}
.navbar-subaru .navbar-toggle:hover,
.navbar-subaru .navbar-toggle:focus {
    background-color: #0736f8;
}
.navbar-subaru .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-subaru .navbar-collapse,
.navbar-subaru .navbar-form {
    border-color: #ecf0f1;
}
.navbar-subaru .navbar-link {
    color: #ecf0f1;
}
.navbar-subaru .navbar-link:hover {
    color: #c0ccfa;
}

@media (max-width: 767px) {
    .navbar-subaru .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-subaru .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-subaru .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c0ccfa;
    }
    .navbar-subaru .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-subaru .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-subaru .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #0736f8;
    }
}
