<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>Km stand</th>
        <th>liters</th>
        <th>prijs</th>
        <th>getanked op</th>
        <th>km gereden</th>
        <th><span class="glyphicon glyphicon-pencil"></span></th>
    </tr>
    </thead>
    <tbody>
    {% for verbruik in verbruiksoverzicht %}
        <tr>
            <td>{{ verbruik.tellerstand }}</td>
            <td>{{ verbruik.liter }}</td>
            <td>{{ verbruik.totaalbedrag }}</td>
            {% if verbruik.getankedOp %}
                <td>{{ verbruik.getankedOp|date("d-m-Y") }}</td>
            {% else %}
                <td> - </td>
            {% endif %}
            <td>{{ verbruik.tellerstandverschil }}</td>
            <td>
                <a href="{{ path('verbruik_edit', {'id': verbruik.id, 'voertuig_id': voertuig.id}) }}"><span
                            class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>