{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="fa fa-road"></span>
            Verbruik toevoegen - {{ voertuig.kenteken }}
        </h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            // configure the bootstrap datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
        $("#mijnsubclubbundle_verbruik_tellerstand").on("keypress", function(evt) {
            var keycode = evt.charCode || evt.keyCode;
            console.log(keycode);
            if (keycode == 46 || keycode == 44) {
                return false;
            }
        });
    </script>
{% endblock %}