{% extends 'base.html.twig' %}

{% block body %}
    <h1>Verbruik</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ verbruik.id }}</td>
            </tr>
            <tr>
                <th>Tellerstand</th>
                <td>{{ verbruik.tellerstand }}</td>
            </tr>
            <tr>
                <th>Totaalbedrag</th>
                <td>{{ verbruik.totaalbedrag }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('verbruik_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('verbruik_edit', { 'id': verbruik.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
